Modules/Login/Config/configBanco.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com" elementFormDefault="qualified">
<xs:element name="banco">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="host" type="xs:string"/>
      <xs:element name="user" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="db" type="xs:string"/>
      <xs:element name="tipoDB" type="xs:string"/>	  
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>